:root{
  --ink:oldlace;                  /* text color */
  --paper: rgb(153, 204, 255);    /* page background */
  --accent: rgb(204, 204, 255);   /* accent */
  --space-2: 0.5rem;              /* spacing scale */
}
body{ color: var(--ink); background: var(--paper); }

header{
  position: sticky; top: 0; 
  justify-content: center;
  background: rgb(230, 179, 204);
}
nav{
  display: flex;
  gap: var(--space-2);
  justify-content: center;
  padding: calc(var(--space-2) * 0.75) 0;
  a:visited {
  color: purple;  /* after you’ve clicked the link */ }
  a:hover {
  color: rgb(204, 204, 255);   /* when mouse hovers */ }
}
